---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: "8.*"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  values:
    adminUser: admin
    adminPassword: admin
    persistence:
      enabled: true
      size: 1Gi
      storageClassName: hostpath
    service:
      type: NodePort
      port: 3000
      nodePort: 30300
    sidecar:
      datasources:
        enabled: true
        label: grafana_datasource
        labelValue: "1"
        searchNamespace: monitoring
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
        searchNamespace: monitoring
        folderAnnotation: grafana_folder
        provider:
          foldersFromFilesStructure: true
    plugins:
      - grafana-trino-datasource
    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 250m
    grafana.ini:
      server:
        root_url: "http://localhost:30300"
      auth.anonymous:
        enabled: true
        org_role: Viewer
