---
apiVersion: v1
kind: Service
metadata:
  name: trino
  namespace: industrial-iot
  labels:
    app: trino
spec:
  type: NodePort
  selector:
    app: trino
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30303
