---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opcua-mock-plc
  namespace: industrial-iot
  labels:
    app: opcua-mock-plc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opcua-mock-plc
  template:
    metadata:
      labels:
        app: opcua-mock-plc
    spec:
      containers:
        - name: opc-plc
          image: mcr.microsoft.com/iotedge/opc-plc:latest
          args:
            - "--ut"
            - "--ph=opcua-mock-plc"
            - "--pn=50000"
            - "--aa"
            - "--fn=2"
            - "--fr=2000"
            - "--sn=2"
            - "--sr=10000"
          ports:
            - containerPort: 50000
              name: opcua
              protocol: TCP
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 192Mi
              cpu: 100m
