---
apiVersion: v1
kind: Service
metadata:
  name: opcua-mock-plc
  namespace: industrial-iot
  labels:
    app: opcua-mock-plc
spec:
  type: ClusterIP
  selector:
    app: opcua-mock-plc
  ports:
    - name: opcua
      port: 50000
      targetPort: 50000
      protocol: TCP
